h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter';
}

h1 {
	font-size: 2.5rem;
}

html {
	font-family: 'IBM Plex Sans';
	font-weight: 500;
}

ol,
ul {
	list-style-position: inside !important;
	padding-inline-start: 10px;
}

li {
	list-style: none;
	padding-inline-start: 7px;
}

li::marker {
	content: '-';
}

li > p {
	display: inline-block;
	margin: 0;
}

tr,
th,
td {
	border: 1px solid var(--border);
	padding: 2px 10px;
	border-radius: 2px;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/medium.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/normal.woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('/fonts/ibm_plex_sans/medium.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter/bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter/extra_bold.woff2');
	font-weight: 800;
	font-display: swap;
}
